.animal-preview-td {
    text-align: center;
    background-color: brown;
    border-color: #ffffff;
  }
  
  .animal-preview-th {
    text-align: center;
    background-color: brown;
    border-color: #ffffff;
  }
  
  .animal-preview-tr {
    text-align: center;
    background-color: brown;
    border-color: #ffffff;
  }