.watcher-app {
  background-color: brown;
  text-align: center;
  width : 100%;
  margin : 40px;
  padding: 15px;
}

.watcher-section{
  background-color: aquamarine;
  flex-grow: 30;
  margin: 15px;
  padding: 10px;
}

.watcher-list{
  display: flex;
  flex-wrap: wrap;
}

.watcher-footer{
}

.addwatcher-section{
  position:absolute;
  width: 300px;
  height: 400px;
  right: 0px;
  top: 0px;
  border-bottom: 0px;
  margin: inherit;
  padding: 10px;
  background-color: rgb(199, 159, 199);
  border-color: black;
  border-style: groove;
}